<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="purpleads-verification" content="97e2934f5107efd51d199e40">

  </head>
  <body>
      <div id="header">
        <nav>
	  <li class="fork"><a href="https://www.opensdev.com/">Home</a></li>
	  <li class="fork"><a href="/blogs.html">Blogs</a></li>
          <li class="downloads"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
        </nav>
      </div>

      <div class="wrapper">

	      <section>
		<div id="title">
		  <h1>{{ site.title | default: site.github.repository_name }}</h1>
		  <p>{{ site.description | default: site.github.project_tagline }}</p>
		  <hr>
		</div>

		{{ content }}

              </section>

      </div>

      <script src="https://cdn.purpleads.io/load.js?publisherId=2e4be068e3d2109e2c57d98de2a7b884:55ffc97aad0966034dba717bf202ce6a688f509d6b6e8897f55cb6bdd2ad32faf71ef837ee1f44a61904be8b2a2c2436132bfd829d94aacdac5bc751466ee010" id="purpleads-client"></script>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
