<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{% if page.use-site-title %}{{ site.title }} {{ site.title-separator | default: '-' }} {{ site.description }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <script src="https://www.googleoptimize.com/optimize.js?id=OPT-WK8KK52" integrity="sha384-iuCzHmgC58zL55+0NGothzcPPJeMCCBRrawyiEwsTYcMbJejVgJqxdmichq+NJ0P" crossorigin="anonymous"></script>
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7YQNQW3VCM" integrity="sha384-iuCzHmgC58zL55+0NGothzcPPJeMCCBRrawyiEwsTYcMbJejVgJqxdmichq+NJ0P" crossorigin="anonymous"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7YQNQW3VCM');
  </script>

  <body>
    <div id="header">
	<nav>
	   <li class="fork"><a href="https://www.opensdev.com/">Home</a></li>
	   <li class="fork"><a href="/blogs.html">Blogs</a></li>
	   <li class="downloads"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
	</nav>
    </div>

    <div class="wrapper">

	<section>
           <div id="title">
             <h1>{{ site.title | default: site.github.repository_name }}</h1>
             <p>{{ site.description | default: site.github.project_tagline }}</p>
           </div>
           <hr>

           {{ content }}
	</section>

    </div>

  </body>
</html>
